.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #567086;
    color: white;
    height: 100px;
}
@media screen and (max-width: 452px) {
    .footer div {
        margin: auto 14px;
    }
}